extends layout

block content
  .row
    .col-xs-12
      +pageader('Users','List')
  .row
      each user in users
        .col-xs-4
          +panel(user.firstname, user.class, 'user')
            ul
              li !{user.firstname}
              li !{user.lastname}
              li !{user.email}
              li !{user.createdAt}
              li !{user.updatedAt}